body{
    margin: 0;
    font-family:  'Quicksand', sans-serif;
}
:root{
    --white: #fff;
    --black: #000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-blue: #acd8d9;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu{
    display: none;
}
.naveg{
    display: flex;
}
.naveg ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 2px solid var(--white);
    padding: 8px;
    border-radius: 5px;
}
.naveg ul li a:hover{
    border: 2px solid var(--hospital-blue);
    color: var(--hospital-blue);
}
.naveg ul{
    margin-left: 12px !important;
}
.logo{
    width: 100px;
}
.naveg ul, .nav-end ul{
    list-style-type: none;
    margin-top: 32px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.nav-end{
    display: flex;
}
.nav-mail{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}
.desplegable{
    margin-left: 10px;
    transform: rotate(90deg);    
    margin: 0 20px;
}
.nav-car{
    position: relative;
}
.nav-car div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-blue);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: var(--sm);
    position: absolute;
    top: -10px;
    right: -6px;
}
@media (max-width: 640px){
    .menu{
        display: block;
    }
    .naveg ul{
        display: none;
    }
    .nav-mail{
        display: none;
    }
}

/*-------------------- CLASS 07 --------------------*/
.menu-desk{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    background-color: var(--white);
    position: absolute;
    top: 60px;
    right: 0;
}
.menu-desk ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-desk ul li{
    text-align: end;
}
.menu-desk ul li:nth-child(1),
.menu-desk ul li:nth-child(2) {
    font-weight: bold;
}
.menu-desk ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.menu-desk ul li:last-child a{
    color: var(--hospital-blue);
    font-size: var(--sm);
}
.menu-desk ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}
.inactive{
    display: none;
}