/* Clases globales */
.manito{
    cursor: pointer;
}
body{
    margin: 0;
    font-family:  'Quicksand', sans-serif;
}
:root{
    --white: #fff;
    --black: #000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-blue: #acd8d9;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

/*-------------------- CLASS 11 nav--------------------*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid var(--very-light-pink);
}
.menu-principal{
    display: none;
}
.naveg{
    display: flex;
}
.naveg ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 2px solid var(--white);
    padding: 8px;
    border-radius: 5px;
}
.naveg ul li a:hover{
    border: 2px solid var(--hospital-blue);
    color: var(--hospital-blue);
}
.naveg ul{
    margin-left: 12px !important;
}
.logo{
    width: 100px;
    height: 60px;
}
.naveg ul, .nav-end ul{
    list-style-type: none;
    margin-top: 32px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.nav-end{
    display: flex;
}
.nav-mail{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}
.desplegable{
    margin-left: 10px;
    transform: rotate(90deg);    
    margin: 0 20px;
}
.nav-car{
    position: relative;
}
.nav-car div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-blue);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: var(--sm);
    position: absolute;
    top: -10px;
    right: -6px;
}
/*-------------------- CLASS 07 menu-desk--------------------*/
.menu-desk{
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 5px;
    padding: 20px 20px 0 20px;
    background-color: var(--white);
    position: absolute;
    top: 60px;
    right: 105px;
}
.menu-desk ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-desk ul li{
    text-align: end;
}
.menu-desk ul li:nth-child(1),
.menu-desk ul li:nth-child(2) {
    font-weight: bold;
}
.menu-desk ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.menu-desk ul li:last-child a{
    color: var(--hospital-blue);
    font-size: var(--sm);
}
.menu-desk ul li a{
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}
.inactive{
    display: none;
}

/*-------------------- CLASS 08 hambur mobile menu . --------------------*/
div .mobile{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobile{
    background-color: var(--white);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
}
.mobile a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 25px;
}
.mobile ul{
    padding: 0;
    margin: 25px 0 0;
    list-style: none;

}
.mobile ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
    margin-top: 0;
}
.mobile ul:last-child{
    margin-bottom: 21px;
}
.mobile ul li{
    margin: 25px;
}
.mobile .mail{
    font-size: var(--sm);
    font-weight: 300;
}
.mobile .sign-out{
    color: var(--hospital-blue);
    font-size: var(--sm);
}

/*-------------------- CLASS 13 product (carrito)--------------------*/
.products {
    background-color: var(--white);
    width: 360px;
    padding: 0 24px 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    border-radius: 20px;
}
.order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.order-site{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.title{
    font-size: var(--lg);
    font-weight: bold;
}
.title-arrow{
    display: flex;
}
.title-arrow img{
    transform: rotate(180deg);
    margin-right: 14px;
}
.order-content{
    display: flex;
    flex-direction: column;
}
.order-content p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
}
.order-content p span:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 16px;
}
.content p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.content p:nth-child(1){
    display: flex;
    flex-direction: column;
}
.content p:nth-child(2){
    text-align: end;
    font-weight: bold;
}
.shop-car{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shop-car figure{
    margin: 0;
}
.shop-car figure img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}
.shop-car p:nth-child(2){
    color: var(--very-light-pink);
}
.shop-car p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}

.primary{
    background-color: var(--hospital-blue);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: bolder;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    height: 50px;
}

/*-------------------- CLASS 06 product (central)--------------------*/
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    padding: 20px 10px 0 10px;
}
.product{
    width: 240px;
    background-color: var(--white);
}
.product img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.info figure{
    margin: 0;
}
.info figure img{
    width: 35px;
    height: 35px;
}
.info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}
.info div p:nth-child(2){
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 0px;
    margin-bottom: 0px;
}

/*-------------------- CLASS 12 product (información)--------------------*/

.product-detail{
    position: absolute;
    right: 0;
    width: 360px;
    padding-bottom: 24px;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--white);
}
.product-detail > img:nth-child(2){
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 5% 5%;
}
.product-close{
    background-color: var(--white);
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    padding: 7px 10px;
    border-radius: 50%;
}
.product-close:hover{
    cursor: pointer;
}
.txt-info{
    margin: 24px 24px 0 24px;
}
.txt-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 8px;
}
.txt-info p:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--very-light-pink);
}
.txt-info p:nth-child(3){
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 25px;
    color: var(--dark);
}
.primary{
    background-color: var(--hospital-blue);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: bolder;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    height: 50px;
}
.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-------------------- MEDIAS QUERY'S --------------------*/
@media (max-width: 860px){
    .pantalla-media{
        display: none;
    }
}

@media (max-width: 640px){
    .menu-principal{
        display: block;
    }
    .naveg ul, .nav-mail, .menu-desk{
        display: none;
    }
    .product{
        width: 100%;
    }
    .cards{
        grid-template-columns: repeat(auto-fill, 150px);
    }
    .product{
        width: 140px;
    }
    .product img{
        width: 100%;
    }
    .product-detail{
        width: 100%;
    }
}
@media (min-width: 641px){
    .mobile{
        display: none;
    }
}
